:root {
	--color-1: #043353;
	--color-2: #e54546;
}

.header {
	padding: 2rem 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.navbar {
	max-width: 1400px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
}
.navbar .navbar__logo {
	text-decoration: none;
	display: flex;
	height: 52px;
	width: 130px;
	justify-content: space-between;
	align-items: flex-start;
}
.navbar__logo .navbar__logo-brand {
	color: var(--color-1);
	font-size: 19px;
	font-weight: 600;
	margin: 0;
	padding: 0;
}
.navbar__logo .navbar__logo-brand span {
	color: var(--color-2);
}
.navbar__nav ul li {
	display: inline-block;
	padding: 0 20px;
}
.navbar__nav ul li a {
	text-decoration: none;
	color: var(--color-1);
}
.navbar__menu-icon {
	display: none;
}
@media screen and (max-width: 350px) {
	.header.box {
		padding: 15px 0;
		margin-bottom: 2rem;
	}
	.navbar .navbar__logo {
		width: 85px;
		height: 32px;
	}
	.navbar .navbar__logo img {
		width: 32px;
		height: 32px;
	}
	.navbar {
		position: relative;
		margin: 0 auto;
		padding: 0;
	}
	.navbar__logo .navbar__logo-brand p {
		font-size: 14px !important;
	}
}
@media screen and (max-width: 960px) {
	.navbar {
		position: relative;
		margin: 0 auto;
	}
	.navbar__menu-icon {
		display: block;
		color: #043353;
		position: absolute;
		right: 0;
		z-index: 10;
	}
	.navbar__nav-items {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 4rem 0 0 3rem;
		width: 100%;
		height: 110vh;
		position: absolute;
		right: -130%;
		top: -35px;
		transition: all 0.3s ease;
		line-height: 40px;
		background: var(--color-1);
		z-index: 9;
	}
	.navbar__nav-items .nav__link a {
		color: #fff;
	}
	.navbar__nav-items.active {
		position: absolute;
		right: -40%;
		top: -35px;
		width: 120%;
		height: 110vh;
		overflow: hidden;
		display: flex;
	}
}
