.courses {
	position: relative;
}
.courses .courses__box {
	display: flex;
	flex-direction: column;
}
.courses__box .courses__box-heading > * {
	display: inline-block;
}
.courses__box-heading span {
	text-decoration: underline;
	cursor: pointer;
	color: #043353;
}
.courses__box .courses__box-heading {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}
.courses .courses__box .courses__card-row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: all 0.7s ease;
}
.courses__card-row .card .card__content {
	padding: 1rem 1.5rem;
}
.courses__card-row .card {
	margin-bottom: 2rem;
	border-radius: 10px;
	background: #fff;
}
.courses__card-row .card:hover {
	-webkit-box-shadow: 0px 14px 32px -13px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 14px 32px -13px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 14px 32px -13px rgba(0, 0, 0, 0.25);
}
.card .card__content .card__course-name {
	font-weight: 500;
	color: #043353;
}
.card .card__content .card__tutor {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 0;
}
.card__content .card__tutor img {
	width: 36px;
	margin-right: 1rem;
}

.card__content .card__tutor .tutor__name {
	color: #64696c;
}
.card__content .price {
	font-size: 25px;
	font-weight: 600;
	color: #043353;
	padding: 1.5rem 0;
}
.card__content button {
	width: 100%;
}
.modal__box {
	width: 528px;
	height: 552px;
	position: fixed;
	z-index: 9999;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: #fff;
	align-items: flex-end;
	-webkit-box-shadow: 0px 0px 23px 3px rgba(34, 60, 80, 0.16);
	-moz-box-shadow: 0px 0px 24px 4px rgba(34, 60, 80, 0.16);
	box-shadow: 0px 0px 25px 5px rgba(34, 60, 80, 0.16);
	animation: appear 0.3s ease forwards;
}
.modal__box form input,
.modal__box form label {
	width: 100%;
	font-size: 25px;
	line-height: 45px;
	padding: 2rem 0;
}
.modal__box form label {
	color: #043353;
	font-size: 25px;
	font-weight: 400;
}
.modal__box form input {
	border: none;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	outline: none;
	font-size: 25px;
	border-bottom: 2px solid #64696c;
	color: #043353;
}
.modal__box form input::placeholder {
	color: #64696c7c;
	font-weight: 100;
	font-style: italic;
}
.modal__box button {
	position: absolute;
	right: 2rem;
	bottom: 5rem;
}
.d-none {
	display: none;
	top: 0;
}
.animate {
	animation: fadeOut 0.3s ease forwards;
}
@keyframes appear {
	0% {
		top: 20%;
		opacity: 0;
	}
	100% {
		top: 50%;
		opacity: 1;
	}
}
@keyframes fadeOut {
	0% {
		top: 50%;
		opacity: 1;
	}
	100% {
		top: 20%;
		opacity: 0;
	}
}
@media screen and (max-width: 350px) {
	.courses__box .courses__card-row .card {
		width: 100%;
	}
	.courses__box .courses__box-heading {
		padding-top: 4rem;
	}
	.card .card__content .card__tutor p {
		padding: 0;
	}
	.modal__box {
		width: 280px;
		height: 300px;
		padding: 1rem 1.5rem;
	}
	.modal__box form input,
	.modal__box form label {
		width: 100%;
		font-size: 14px;
		line-height: 10px;
		padding: 1rem 0 0.2rem;
	}
	.modal__box button {
		position: absolute;
		right: 2rem;
		bottom: 1rem;
	}
}
