.gallery .gallery__box {
	display: flex;
	flex-direction: column;
}
.gallery__box .gallery__box-heading {
	padding: 2rem 0;
}
.gallery .gallery__box .swiper-container {
	width: 100%;
	padding-bottom: 2.5rem;
}

.gallery .gallery__box .gallery__row {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	height: 100%;
}
.gallery__box .gallery__row .gallery__item-wrapper img {
	width: 100%;
	height: 100%;
}
.gallery__box .gallery__row .gallery__item-wrapper {
	position: relative;
	overflow: hidden;
	z-index: 6;
	border-radius: 10px;
}
.gallery__item-wrapper .gallery__item-overlay {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	z-index: 1;
	font-size: 45px;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	transition: all 0.1s ease;
}
.gallery__item-wrapper:hover .gallery__item-overlay {
	left: 0;
}
