.home .home__box {
	display: flex;
	justify-content: space-between;
}
.home .home__box .home__box_text-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 50%;
}
.home__box_text-content p {
	padding: 2rem 0;
	font-weight: 500;
	font-size: 25px;
	color: #043353;
}
.home__box .home__box_img img {
	width: 100%;
}
.home__box .home__box_img {
	position: relative;
}
.home__box .home__box_img .circle-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 376px) {
	.home__box_text-content h1.ps {
		font-size: 35px;
		text-align: left;
		padding: 3rem 0;
	}
	.home__box_text-content {
		width: 90% !important;
	}
	.home__box_text-content p {
		display: none;
	}
	.home__box .home__box_img img {
		display: none;
	}
	.home__button {
		padding: 0 0 2rem 0;
	}
}
