h1 {
	font-size: 58px;
	font-weight: bolder;
}
h2 {
	font-size: 44px;
	font-weight: 600;
	color: #043353;
}
h3 {
	font-size: 33px;
	font-weight: lighter;
}
h4 {
	font-size: 25px;
	font-weight: 600;
}
h5 {
	font-size: 25px;
	font-weight: normal;
}
p {
	font-size: 19px;
}
section {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 7vh calc((100vw - 80vw) / 2);
}

.button {
	padding: 0.6rem 2rem;
	border-radius: 25px;
	border: none;
	background: #113a6c;
	color: #fff;
	font-size: 19px;
	cursor: pointer;
	transition: all 0.4s ease;
}
.button:hover {
	-webkit-box-shadow: 0px 14px 32px -13px rgba(17, 58, 108, 0.3);
	-moz-box-shadow: 0px 14px 32px -13px rgba(17, 58, 108, 0.3);
	box-shadow: 0px 14px 32px -13px rgba(17, 58, 108, 0.3);
}
