html {
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url("./assets/images1x/body.webp");
	background-repeat: no-repeat;
	background-size: cover;
}
.box {
	max-width: 1093px;
	width: 100%;
	margin: 0 auto;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Product Sans", sans-serif;
	scroll-behavior: smooth;
}
